.venv/

**/__pycache__/
**/*.pyc
**/*.pyo

user_content/*
user_content/config/*
user_content/logs/*
user_content/models/*

!user_content/config/
!user_content/logs/
!user_content/models/

build/dist/
build/installer_output/*
